<%- include('partials/header') %>

<div class="jumbotron text-center" style="background-color: #FB8DA0">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <i class="fas fa-user fa-6x"></i>

    <h1 class="display-3">welcome User</h1>
    <p>Check the payment details and edit their profiles , see the fine amount</p>
    <hr>
    <a class="btn btn-info btn-lg" href="/fines" role="button">show</a>
    <a class="btn btn-primary btn-lg" href="/" role="button">Log Out</a>
  </div>
</div>

<%- include('partials/footer') %>
